---
layout: default
title: Home
---
<h1>Welcome to Python for Pedagogues!</h1>
<p>My name is Ben Samuels-Kalow.</p>

<p>I teach at <a href="http://ms223.org">The Laboratory School of Finance & Technology</a> in the South Bronx.</p>
<p>My curriculum (including this PD) is online at <a href="http://bsk.education">bsk.education</a>.</p>

If you have questions, feedback, or interesting things to share, I'm <a href="http://twitter.com/bensk"> @bensk</a> and <a href="mailto:bsk@ms223.org">bsk@ms223.org</a>.

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
